body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4BB44;
    padding: 3px;
    padding-left:20px;
    padding-right:20px;
}

.nav-title{
    color: white;
    font-size: larger;
    font-weight: bold;
}

.nav-button {
    background-color: white;
    color: #F4BB44;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
    transition: all 0.2s ease;
}

.nav-button:hover{
    background-color: rgb(234, 234, 234);
    color: #F4BB44;
}

.form-container {
    margin: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.form-parent {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    width: 800px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-incont {
    display: flex;
    gap: 40px;
}

.form-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.form-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

input, select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #F4BB44;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #e0a936;
}

.form-right label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.genres {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.genres h3 {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.genres label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}